@use '../../styles/partials/global';
.user-container {
  @include global.backgroundImage;
  &__card {
    @include global.cardStyle {
      align-items: center;
      @include global.tablet {
        width: 25rem;
      }
      &:hover {
        @include global.cardHoverStyle;
      }
    }
  }
  &__title-container {
    display: flex;
    justify-content: center;
  }
  &__title {
    letter-spacing: 2px;
    font-size: 1.4375rem;
  }
  &__image {
    background-image: url(../../assets/createUserImage/user.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 9.375rem;
    @include global.tablet {
      width: 18.75rem;
      height: 18.75rem;
    }
  }
  &__username-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.125rem 0 1.875rem 0;
  }
  &__username-label {
    letter-spacing: 1px;
    padding-bottom: 0.3125rem;
  }
  &__user {
    @include global.formInputStyle;
    &:hover,
    &:focus {
      @include global.formInputHoverFocus;
    }
  }
  &__button-container {
    display: flex;
    justify-content: center;
  }
  &__button {
    @include global.formButtonStyle;
    &:hover {
      @include global.buttonHoverStyle;
    }
  }
}
