@use '../../styles/partials/global';

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 93px;
  margin: 0 0 0.3125rem 0;
  box-shadow: 0 10px 10px -5px black;
  position: relative;
  z-index: 50;
  background: #ffffff;
  &__nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 3.125vw 0 3.125vw;
    background: #ffffff;
    @include global.desktop {
      justify-content: space-around;
      height: 63px;
    }
  }
  &__burger {
    width: 35px;
    height: 35px;
    transform: rotate(180deg);
    &:hover {
      cursor: pointer;
    }
    @include global.desktop {
      display: none;
    }
    &-hide {
      display: none;
    }
  }
  &__close-container {
    position: absolute;
    top: -60px;
    right: 0;
  }
  &__close {
    width: 35px;
    height: 35px;
    @include global.desktop {
      display: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__logo-container {
    display: flex;
    margin: 0 0 0.625rem 0;
    @include global.tablet {
      font-size: 1.875rem;
    }
  }

  &__logo {
    width: 3.125rem;
    height: 3.125rem;

    &-name {
      letter-spacing: 2px;
      margin: 1rem 0.625rem;
      font-weight: 600;
      margin-bottom: 0;
      font-size: 1.25rem;
      @include global.tablet {
        font-size: 1.875rem;
      }
    }
    &-link {
      display: flex;
      align-items: flex-end;
      text-decoration: none;
      color: global.$graphite;
    }
  }

  &__list-container {
    display: flex;
    position: absolute;
    z-index: 5;
    background: #ffffff;
    right: 0;
    padding: 20px 0px;
    border-radius: 0px 0px 4px 4px;
    top: 100%;
    width: 100%;
    justify-content: center;
    left: 0;
    align-items: flex-end;
    margin: 0 0 0.625rem 0;
    @include global.desktop {
      position: relative;
      top: 0;
      width: 20vw;
      padding: 18px 0;
    }
    &-hide {
      display: none;
      @include global.desktop {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 20vw;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        z-index: 5;
        background: #ffffff;
        margin: 0 0 0.625rem 0;
        padding: 18px 0 20px;
      }
    }
  }

  &__list {
    width: 70%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    padding: 0;
    width: 48.4375vw;
    letter-spacing: 2px;
    @include global.tablet {
      width: 33.854vw;
      font-size: 1.25rem;
    }
    @include global.desktop {
      width: 20vw;
      margin-top: 16px;
    }

    &-item {
      margin-left: 0.625rem;
      font-size: 15px;

      &:after {
        content: '';
        height: 2px;
        background: #239b56;
        position: absolute;
        left: 10px;
        right: 0;
        bottom: -6px;
        opacity: 0;
        transform: scaleX(0);
        transform-origin: left center;
        transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
      }
      &:hover {
        color: #239b56;
        &:after {
          opacity: 1;
          transform: scaleX(1);
        }
      }
      &-link {
        position: relative;
        text-decoration: none;
        color: global.$graphite;
        &--active {
          color: #239b56;
          text-decoration: none;
        }
      }
    }
  }
}
