@use '../../styles/partials/global';
.edit-container {
  @include global.backgroundImage;
  &__card {
    @include global.cardStyle {
      @include global.tablet {
        width: 25rem;
      }
      &:hover {
        @include global.cardHoverStyle;
      }
    }
  }
  &__title-container {
    display: flex;
    justify-content: center;
  }
  &__title {
    letter-spacing: 2px;
    font-size: 1.4375rem;
  }
  &__username-container,
  &__description-container,
  &__duration-container,
  &__date-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 1.875rem 0;
  }
  &__username-label,
  &__description-label,
  &__duration-label,
  &__date-label {
    letter-spacing: 1px;
    padding-bottom: 0.3125rem;
  }
  &__username,
  &__description,
  &__duration,
  &__date {
    @include global.formInputStyle;
    &:hover,
    &:focus {
      @include global.formInputHoverFocus;
    }
  }
  &__button-container {
    display: flex;
    justify-content: center;
  }
  &__button {
    @include global.formButtonStyle;
    &:hover {
      @include global.buttonHoverStyle;
    }
  }
  &__description {
    height: 9.375rem;
  }
}
