@use '../../styles/partials/global';
.error {
  margin: 100px 0 0 0;
  font-family: 'MontserratT';
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    margin-top: 3.125rem;
    color: global.$charcoal;
    font-size: 6.25vw;
  }
  &__text {
    font-family: 'MontserratR';
    font-size: 14px;
    color: global.$slate;
    margin-bottom: 20px;
  }
  &__image {
    width: 29vw;
    height: 33.625vw;
  }
  &__button {
    @include global.formButtonStyle;
    &:hover {
      @include global.buttonHoverStyle;
    }
  }
}
