@import "../../styles/partials/global";
.create-container {
  @include backgroundImage;
  &__card {
    @include cardStyle {
      @include tablet {
        width: 25rem;
      }
      &:hover {
        @include cardHoverStyle;
      }
    }
  }
  &__title-container {
    display: flex;
    justify-content: center;
  }
  &__title {
    letter-spacing: 2px;
    font-size: 1.4375rem;
  }
  &__username-label,
  &__description-label,
  &__duration-label,
  &__date-label {
    letter-spacing: 1px;
    padding-bottom: 0.3125rem;
  }

  &__username-container,
  &__description-container,
  &__duration-container,
  &__date-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 1.875rem 0;
  }
  &__username,
  &__description,
  &__duration,
  &__date {
    @include formInputStyle;
    &:hover,
    &:focus {
      @include formInputHoverFocus;
    }
  }
  &__button-container {
    display: flex;
    justify-content: center;
  }
  &__button {
    @include formButtonStyle;
    &:hover {
      @include buttonHoverStyle;
    }
  }
  &__description {
    height: 9.375rem;
  }
}
