@import '../../styles/partials/global';
.main-list {
  @include backgroundImage;
  &__card {
    @include cardStyle {
      align-items: center;
      @include tablet {
        width: 37.5rem;
      }
      @include desktop {
        width: 37.5rem;
      }
      &:hover {
        @include cardHoverStyle;
      }
    }
  }
  &__title-container {
    display: flex;
    justify-content: center;
  }
  &__title {
    letter-spacing: 2px;
    font-size: 1.4375rem;
    margin-bottom: 0;
  }
  &__category-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }
  &__username,
  &__description,
  &__duration,
  &__action {
    letter-spacing: 1px;
  }
  &__date {
    width: 6.25rem;
  }
  &__result-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 5px;

    margin: 0 auto;
    &:hover {
      transition: all 0.2s ease-in-out;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 4px;
    }
  }
  &__username-result {
    width: 5.375rem;
    letter-spacing: 1px;
    font-weight: 500;
  }
  &__username-result-container {
    margin-left: 5px;
  }
  &__description-result {
    width: 6.4756rem;
    letter-spacing: 1px;
    font-weight: 500;
  }
  &__duration-result {
    width: 5.0889rem;
    letter-spacing: 1px;
    font-weight: 500;
  }
  &__date-result {
    width: 6.25rem;
    letter-spacing: 1px;
    font-weight: 500;
  }
  &__action-result-container {
    display: flex;
    justify-content: space-between;
    width: 3.8399rem;
  }
  &__category-hr {
    background: rgba(255, 255, 255, 0.2);
    height: 0.5px;
    border: none;
    width: 37.375rem;
  }
  &__result-hr {
    background: rgba(255, 255, 255, 0.2);
    height: 0.5px;
    border: none;
    width: 37.375rem;
  }
  &__action-delete,
  &__action-edit {
    height: 1.5625rem;
    cursor: pointer;
  }
  &__action-button {
    &-delete {
      background-color: rgba(255, 255, 255, 0);
      border: 0;
      outline: none;
      padding-left: 0;
    }
    &-edit {
      background-color: rgba(255, 255, 255, 0);
      border: 0;
      outline: none;
      padding-left: 0;
    }
  }
  &__hide-tabdesk {
    display: none;
    @include tablet {
      display: flex;
    }
  }
  &__hide-mobile {
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }
  &__result-container-mobile {
    padding-left: 5px;
    &:hover {
      transition: all 0.3s ease-in-out;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 4px;
    }
  }
  &__top-section-mobile {
    display: flex;
    justify-content: space-between;
  }
  &__bottom-section-mobile {
    display: flex;
    justify-content: space-between;
  }
  &__username-label-mobile,
  &__description-label-mobile {
    width: 10.625rem;
    margin-bottom: 0;
    font-size: 0.875rem;
  }
  &__date-label-mobile,
  &__action-label-mobile {
    width: 5rem;
    margin-bottom: 0;
    font-size: 0.875rem;
  }
  &__username-mobile,
  &__date-mobile,
  &__description-mobile {
    margin-top: 0;
    font-size: 0.75rem;
  }
  &__bottom-hr-mobile {
    background: rgba(255, 255, 255, 0.2);
    height: 0.5px;
    border: none;
  }
  &__action-button-delete-mobile,
  &__action-button-edit-mobile {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding-left: 0;
  }
  &__action-delete-mobile,
  &__action-edit-mobile {
    height: 1.5625rem;
    cursor: pointer;
  }
}
